:root {
  /* placeholder */
}

body {
  /* placeholder */
}

/* the <div id="root"> that contains the React Application */
#root {
  /* placeholder */
}

.star-cape {
  animation: moveUpDown 8s infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, 0px);
  }
  50% {
    transform: translate(-20px, -20px);
  }
  75% {
    transform: translate(0px, 20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
